table {
  border: 1px solid green;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grey,
.yellow,
.green {
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.green {
  background-color: green;
}
.grey {
  background-color: #f8f9fa;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.chessboard {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

img {
  height: 60px;
  width: 60px;
}
